<ion-view view-title="Placa">
    <ion-content>
        <ion-list>
            <ion-item class="item item-text-wrap">
                <b>Placa:</b> {{placa}}            
            </ion-item>      

            <ion-item class="item item-text-wrap">
                <b>Area:</b>  {{area_hec}}            
            </ion-item>

            <ion-item class="item item-text-wrap">
                <b>Tipo Expediete:</b>  {{tipo_expediente}}           
            </ion-item>

            <ion-item class="item item-text-wrap">
                <b>Estado Juridico:</b>  {{estado_juridico}}           
            </ion-item>

            <ion-item class="item item-text-wrap">
               <b>Fecha radicacion:</b>  {{fecha_radica_inscribe}}            
            </ion-item>

            <ion-item class="item item-text-wrap">
                <b>Minerales:</b>  {{minerales}}           
            </ion-item>

            <ion-item class="item item-text-wrap">
                <b>Modalidad:</b>  {{modalidad}}          
            </ion-item>

            <ion-item class="item item-text-wrap">
                <b>Municipios:</b>  {{municipios}}           
            </ion-item>

            <ion-item class="item item-text-wrap">
                <b>Personas:</b> {{personas}}
            </ion-item>

        </ion-list> 

    </ion-content>
</ion-view>
